<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
      

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

            ul li a {
                --c: rgb(28, 251, 247);
                color: var(--c);
                font-size: 16px;
                border-radius: 0.5em;
                width: 7em;
                height: 2em;
                text-transform: uppercase;
                font-weight: bold;
                font-family: sans-serif;
                letter-spacing: 0.1em;
                text-align: center;
                line-height: 3em;
                position: relative;
                overflow: hidden;
                z-index: 1;
                transition: 0.5s;
                margin: 1em;
                float: left;
                text-decoration: none;
            }

            ul li span {
                position: absolute;
                width: 25%;
                height: 95%;
                background-color: var(--c);
                transform: translateY(150%);
                border-radius: 50%;
                left: calc((var(--n) - 1) * 25%);
                transition: 0.5s;
                transition-delay: calc((var(--n) - 1) * 0.1s);
                z-index: -1;
            }

            ul li a:hover {
                color: black;
            }

                ul li a:hover span {
                    transform: translateY(0) scale(2);
                }

            ul li a span:nth-child(1) {
                --n: 1;
            }

            ul li a span:nth-child(2) {
                --n: 2;
            }

            ul li a span:nth-child(3) {
                --n: 3;
            }

            ul li a span:nth-child(4) {
                --n: 4;
            }
        .share-widget-sub {
            margin: 10px;
            justify-content: center;
        }
            /* END */


            .share-widget-sub .share-widget-title {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .share-widget-sub .share-widget-title svg {
                    width: 20px;
                    margin-right: 10px;
                }

                .share-widget-sub .share-widget-title div {
                    font-size: 14px;
                    letter-spacing: 1px;
                }

            .share-widget-sub a {
                text-decoration: none;
            }


                .share-widget-sub a svg {
                    width: 24px;
                    margin: 7px;
                    transition: .2s ease-in-out;
                }

                    .share-widget-sub a svg:hover {
                        transform: scale(1.1);
                        transition: .2s ease-in-out;
                    }




        /* FLIP ANIMATION */
        .share-widget {
            perspective: 400px;
            width: 220px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .share-widget .share-widget-sub {
                width: 100%;
                max-width: 400px;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                transition: -webkit-transform 0.6s;
                -webkit-transition: -webkit-transform 0.6s;
                transition: transform 0.6s;
                transition: transform 0.6s, -webkit-transform 0.6s;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .share-widget-sub .share-widget-title,
        .share-widget-sub .share-widget-icons {
            position: absolute;
            width: 100%;
            height: 50px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: antialiased;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        .share-widget-sub .share-widget-icons {
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }

        .share-widget-sub.flipped {
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }


        /* LIGHT & DARK STYLES */
        .share-widget.dark .share-widget-sub a svg {
            fill: var(--light-color);
        }

        .share-widget.light .share-widget-sub a svg {
            fill: var(--dark-color);
        }

        .share-widget.light .share-widget-sub .share-widget-title,
        .share-widget.light .share-widget-sub .share-widget-icons {
            background-color: var(--light-color);
        }

        .share-widget.dark .share-widget-sub .share-widget-title,
        .share-widget.dark .share-widget-sub .share-widget-icons {
            background-color: var(--dark-color);
        }

        .share-widget.light .share-widget-sub {
            color: var(--dark-color);
        }

        .share-widget.dark .share-widget-sub {
            color: var(--light-color);
        }

        .share-widget.light .share-widget-sub .share-widget-title svg {
            fill: var(--dark-color);
        }

        .share-widget.dark .share-widget-sub .share-widget-title svg {
            fill: var(--light-color);
        }

        /* FULL STYLE */

        .share-widget.full .share-widget-sub .share-widget-title div::after {
            content: 'ON SOCIAL MEDIA'
        }

        .share-widget.full {
            width: 400px;
        }

            .share-widget.full .share-widget-sub {
                flex-direction: column;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                cursor: default;
            }

                .share-widget.full .share-widget-sub .share-widget-title,
                .share-widget.full .share-widget-sub .share-widget-icons {
                    position: relative;
                    transform: none;
                    box-shadow: none;
                }

                    .share-widget.full .share-widget-sub .share-widget-title svg {
                        display: none;
                    }

        .img_back h4 {
            justify-content: center;
            font-family: 'Pacifico', cursive;
            color: #e63167;
        }

        .share-widget.darks h4 {
            font-family: 'Pacifico', cursive;
            color: #e63167;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="">
                <ul >
                    <li>@Html.ActionLink("About", "About", "Home")</li>


                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Log In", "LogIn", "Users")</li>
                    <li>@Html.ActionLink("Register", "Create", "Users")</li>
                    <li>@Html.ActionLink("Log Out", "LogOut", "Users")</li>
                    <li>@Html.ActionLink("Courses", "Courses", "Home")</li>
                    

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="fot">
            <div class="share-widget darks">
                <h4>Contact us</h4>
            </div>

            <div class="share-widget dark">
                <div class="share-widget-sub">
                    <div class="share-widget-title">
                        <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                            <path d='M384 336a63.78 63.78 0 00-46.12 19.7l-148-83.27a63.85 63.85 0 000-32.86l148-83.27a63.8 63.8 0 10-15.73-27.87l-148 83.27a64 64 0 100 88.6l148 83.27A64 64 0 10384 336z' />
                        </svg>
                        <div>
                            SHARE
                        </div>
                    </div>

                    <div class="share-widget-icons">

                        <!-- facebook -->
                        <a href="https://www.facebook.com/share.php?u=https%3A%2F%2Fhistoryit.com%2F" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z' fill-rule='evenodd' />
                            </svg>
                        </a>

                        <!-- linkedin -->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fhistoryit.com%2F&title=We%20give%20history%20a%20future.&summary=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%20%40historyit%20%23savehistory&source=historyit.com" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z' />
                            </svg>
                        </a>

                        <!-- pinterest -->
                        <a href="https://pinterest.com/pin/create/button/?url=https://www.historyit.com&media=&description=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%0A%0A%40historyit%20%2F%20%23savehistory" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M256.05 32c-123.7 0-224 100.3-224 224 0 91.7 55.2 170.5 134.1 205.2-.6-15.6-.1-34.4 3.9-51.4 4.3-18.2 28.8-122.1 28.8-122.1s-7.2-14.3-7.2-35.4c0-33.2 19.2-58 43.2-58 20.4 0 30.2 15.3 30.2 33.6 0 20.5-13.1 51.1-19.8 79.5-5.6 23.8 11.9 43.1 35.4 43.1 42.4 0 71-54.5 71-119.1 0-49.1-33.1-85.8-93.2-85.8-67.9 0-110.3 50.7-110.3 107.3 0 19.5 5.8 33.3 14.8 43.9 4.1 4.9 4.7 6.9 3.2 12.5-1.1 4.1-3.5 14-4.6 18-1.5 5.7-6.1 7.7-11.2 5.6-31.3-12.8-45.9-47-45.9-85.6 0-63.6 53.7-139.9 160.1-139.9 85.5 0 141.8 61.9 141.8 128.3 0 87.9-48.9 153.5-120.9 153.5-24.2 0-46.9-13.1-54.7-27.9 0 0-13 51.6-15.8 61.6-4.7 17.3-14 34.5-22.5 48a225.13 225.13 0 0063.5 9.2c123.7 0 224-100.3 224-224S379.75 32 256.05 32z' />
                            </svg>
                        </a>

                        <!-- twitter -->
                        <a href="https://twitter.com/intent/tweet?text=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%0A%0A%40historyit%20%2F%20%23savehistory" target="_top">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z' />
                            </svg>
                        </a>

                        <!-- email -->
                        <a href="mailto:?subject=HistoryIT&body=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%0A%0A%40historyit%20%2F%20%23savehistory" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M476.59 227.05l-.16-.07L49.35 49.84A23.56 23.56 0 0027.14 52 24.65 24.65 0 0016 72.59v113.29a24 24 0 0019.52 23.57l232.93 43.07a4 4 0 010 7.86L35.53 303.45A24 24 0 0016 327v113.31A23.57 23.57 0 0026.59 460a23.94 23.94 0 0013.22 4 24.55 24.55 0 009.52-1.93L476.4 285.94l.19-.09a32 32 0 000-58.8z' />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="share-widget light full">
                <div class="share-widget-sub">
                    <div class="share-widget-title">
                        <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                            <path d='M384 336a63.78 63.78 0 00-46.12 19.7l-148-83.27a63.85 63.85 0 000-32.86l148-83.27a63.8 63.8 0 10-15.73-27.87l-148 83.27a64 64 0 100 88.6l148 83.27A64 64 0 10384 336z' />
                        </svg>
                        <div>
                            SHARE
                        </div>
                    </div>

                    <div class="share-widget-icons">

                        <!-- facebook -->
                        <a href="https://www.facebook.com/share.php?u=https%3A%2F%2Fhistoryit.com%2F" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z' fill-rule='evenodd' />
                            </svg>
                        </a>

                        <!-- linkedin -->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fhistoryit.com%2F&title=We%20give%20history%20a%20future.&summary=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%20%40historyit%20%23savehistory&source=historyit.com" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z' />
                            </svg>
                        </a>

                        <!-- pinterest -->
                        <a href="https://pinterest.com/pin/create/button/?url=https://www.historyit.com&media=&description=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%0A%0A%40historyit%20%2F%20%23savehistory" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M256.05 32c-123.7 0-224 100.3-224 224 0 91.7 55.2 170.5 134.1 205.2-.6-15.6-.1-34.4 3.9-51.4 4.3-18.2 28.8-122.1 28.8-122.1s-7.2-14.3-7.2-35.4c0-33.2 19.2-58 43.2-58 20.4 0 30.2 15.3 30.2 33.6 0 20.5-13.1 51.1-19.8 79.5-5.6 23.8 11.9 43.1 35.4 43.1 42.4 0 71-54.5 71-119.1 0-49.1-33.1-85.8-93.2-85.8-67.9 0-110.3 50.7-110.3 107.3 0 19.5 5.8 33.3 14.8 43.9 4.1 4.9 4.7 6.9 3.2 12.5-1.1 4.1-3.5 14-4.6 18-1.5 5.7-6.1 7.7-11.2 5.6-31.3-12.8-45.9-47-45.9-85.6 0-63.6 53.7-139.9 160.1-139.9 85.5 0 141.8 61.9 141.8 128.3 0 87.9-48.9 153.5-120.9 153.5-24.2 0-46.9-13.1-54.7-27.9 0 0-13 51.6-15.8 61.6-4.7 17.3-14 34.5-22.5 48a225.13 225.13 0 0063.5 9.2c123.7 0 224-100.3 224-224S379.75 32 256.05 32z' />
                            </svg>
                        </a>

                        <!-- twitter -->
                        <a href="https://twitter.com/intent/tweet?text=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%0A%0A%40historyit%20%2F%20%23savehistory" target="_top">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z' />
                            </svg>
                        </a>

                        <!-- email -->
                        <a href="mailto:?subject=HistoryIT&body=Our%20historians%2C%20archivists%2C%20technologists%2C%20and%20digital%20strategists%20transform%20your%20historical%20collections%20to%20an%20accessible%20digital%20collection.%0A%0A%40historyit%20%2F%20%23savehistory" target="_blank">
                            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'>
                                <path d='M476.59 227.05l-.16-.07L49.35 49.84A23.56 23.56 0 0027.14 52 24.65 24.65 0 0016 72.59v113.29a24 24 0 0019.52 23.57l232.93 43.07a4 4 0 010 7.86L35.53 303.45A24 24 0 0016 327v113.31A23.57 23.57 0 0026.59 460a23.94 23.94 0 0013.22 4 24.55 24.55 0 009.52-1.93L476.4 285.94l.19-.09a32 32 0 000-58.8z' />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <script>
            let shareWidgies = document.querySelectorAll('.share-widget:not(.full) .share-widget-sub');

            shareWidgies.forEach(el => {
                el.addEventListener('click', function () {
                    if (this.classList.contains('flipped')) {
                        this.classList.remove('flipped');
                    } else {
                        this.classList.add('flipped');
                    }
                });
            });
            </script>

            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
